[user]
    useConfigOnly = true
[push]
    default = simple
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[core]
    editor = vim
    excludesfile = ~/.gitignore.global
[difftool]
    prompt = false
[alias]
    last = log -1 HEAD
[color]
	interactive = auto
	pager = true
	ui = auto
[color "branch"]
	current = red bold
	local = magenta bold
	remote = yellow
[color "diff"]
	meta = cyan
	frag = blue
	old = red
	new = green
[color "status"]
	added = green
	changed = yellow
	untracked = magenta
